.animateFadeIn {
  animation: fadeIn 1s ease-out forwards;
}

.animateFloating {
  animation: floating 4s ease-in-out infinite;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes floating {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}

@media (prefers-reduced-motion: reduce) {
  .animateFadeIn,
  .animateFloating {
    animation: none;
  }
}
